
<div class="w3-container w3-black no-padding no-margin w3-border">
        <a href="#" class="w3-button  w3-green w3-hover-light-green no-margin">Home</a>
    <!-- product -->
    <div class="w3-dropdown-hover w3-bar-block no-margin">
          <div class="w3-btn w3-black w3-hover-light-green no-margin">Product <i class="fa fa-caret-down menu-icon"></i></div>
          <div class="w3-dropdown-content w3-card-4 no-margin">
            <a href="cat" class="w3-button w3-bar-item w3-hover-light-green">Categories</a>
            <a href="pro" class="w3-button w3-bar-item w3-hover-light-green">Products</a>
          </div>
    <!-- eof product -->
        </div>
        <a href="#" class="w3-button w3-black w3-hover-light-green">Orders</a>
</div>
