*{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

p, input, label{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: inherit;
}

label{
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

input[type=text]{
    width: 100%;
    font-size: 1.2em;
    background-color: #fafafa;
    border-bottom: 1px solid darkcyan;
}

input[type=email]{
    width: 100%;
    font-size: 1.2em;
    background-color: #fafafa;
    border-bottom: 1px solid darkcyan;
}


input[type=password]{
    width: 100%;
    border-bottom: 1px solid darkcyan;
    background-color: #fafafa;
}

form{
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: left;
}

button{
    background-color: darkgreen;
    color: antiquewhite;
    font-weight: 500;
    padding: 4px 10px 4px 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 13px;
}

header p{
    font-family: "Noto Serif", sans-serif;
    font-size: 1.1em;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: inherit;
}


.allauth-page{
    text-align: center;
}

.allauth-submit-button-wrapper{
    width: 100%;
    text-align: center;
}

.allauth-page ul{
    padding-left: 15px;
}

.errorlist {
    background-color: red;
}

.errorlist li{
    background-color: red;
    font-weight: bold;
    color: white;
}

.page-box{
    padding: 0;
    margin: auto;
    width: 1200px;
    border: 1px solid black;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 1200px;
  margin: auto;
  background-color: red;
  color: white;
  text-align: center;
}

.flat{
    padding: 0;
    margin: 0;
}

#announcement-bar{
    background-color: saddlebrown;
    color: antiquewhite;
    padding: 12px;
    margin: 0;
    height: 50px;
}

#announcement-bar p{
    font-weight: 600;
}
#info-header-bar{
    background-color: yellowgreen;
    color: black;
    font-weight: bold;
    padding: 12px;
    margin: 0;
    height: 50px;
}

#search-bar{

}

/* -- Screen sizes are W3css responsiveness screen sizes --*/

@media screen and (max-width: 1200px){
    /* -- desktop screen with a box size 1200px --*/
    .page-box{
        width: 994px;
    }
    .footer{
        width: 994px;
    }
}

@media screen and (max-width: 993px){
    /* -- tablet screen --*/
    .page-box{
        width: 661px;
    }
    .footer{
        width: 661px;
    }
}
@media screen and (max-width: 660px) {
    /*  for mobile screens*/
    .page-box{
        width: 440px;
    }
    .footer{
        width: 440px;
    }
}