{% load static %}
{% load msg_w3_class %}

<!doctype html>
<html lang="en">
<head>
   {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&
            family=Montserrat:ital,wght@0,100..900;1,100..900&
            display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&
            display=swap" rel="stylesheet">
    {% endblock fonts %}

    {% block corecss %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>WonderShop{% block additional_title %}{% endblock %}</title>
</head>
<body>
<div class="w3-container page-box">
{% block header %}
<header class="w3-container flat">
    <div id="announcement-bar"><p>Free delivery on orders over £50</p></div>
    <div id="info-header-bar">
        <p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account_login' %}">Login</a>
                <a href="{% url 'account_signup' %}">Register</a>
        {% endif %}
        | Notifications | Cart
        </p>
    </div>
    <div id="search-bar"><p> LOGO | Search Box | Search Button </p></div>

</header>
{% endblock %}

<!-- messages -->
{% if messages %}
    <div class="w3-container flat">
        {% for message in messages %}
            <div class="w3-container {{ message.level_tag | msg_w3_class }} w3-center flat">
              <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
{%  endif %}
<!-- end messages -->

{% block contents %}
    Contents goes here
{% endblock %}

{% block footer %}
    <footer class="w3-container footer">
        Footer
    </footer>
{% endblock %}
</div>

</body>
</html>
