{% load static %}
{% load msg_w3_class %}

<!doctype html>
<html lang="en">
<head>
   {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex, nofollow" />
        <meta name="googlebot" content="noindex">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&
            family=Montserrat:ital,wght@0,100..900;1,100..900&
            display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&
            display=swap" rel="stylesheet">

        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    {% endblock fonts %}

    {% block corecss %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="{% static 'site/css/main.css' %}" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>WonderShop{% block additional_title %} | Data Admin{% endblock %}</title>
</head>
<body>
<div class="w3-container page-box">
{% block header %}
<header class="w3-container flat">
    <div id="announcement-bar" class="w3-row">
        <div class="w3-col l9 m8 s7">
            <p>&nbsp;</p>
        </div>
        <div class="w3-col l3 m4 s5">
            <div class="w3-right">
               <div class="dropdown">
                  <div class="dropbtn">Greetings, {{ request.user }}! <i class="fas fa-user profile-symbol"></i></div>
                  <div class="dropdown-content">
                      <a href="#">
                          <i class="fa fa-user menu-icon"></i> Profile</a>
                          <a href="{% url 'home' %}">
                              <i class="fa fa-house menu-icon"></i> Visit Site</a>
                      {% if user.is_superuser %}
                          <a href="{% url 'admin:index' %}">
                              <i class="fas fa-user-cog menu-icon"></i> Site Administration</a>
                      {% endif %}
                      <a href="{% url 'account_logout' %}">
                          <i class="fa fa-sign-out menu-icon"></i> Logout</a>
                  </div>
               </div>
            </div>
        </div>
    </div>
    <div id="info-header-bar" class="w3-row">
        <div class="w3-col l2 m3 s4 wrapper-in-header">
            <a href="{% url 'data-admin-home' %}"><span class="w3-badge da-logo w3-align-left">WS<br/>&nbsp;&nbsp;DataAdmin&nbsp;&nbsp;</span></a>
        </div>
        <div class="w3-center w3-col l9 m8 s6 wrapper-in-header">
                <form action="{% url 'da-search' %}" method="post" class="wrapper-in-header" id="header-search">
                    <input type="text" value="{{ search_criteria }}" minlength="3" id="top_search"
                           name="q" placeholder="Search ...">
                    {% csrf_token %}
                    <button type="submit"><i class="fa fa-search search-button"></i></button>
                </form>
        </div>
        <div class="w3-col l1 m1 s1 w3-right wrapper-in-header">
            <div class="w3-right wrapper-in-header" id="bell-and-basket-wrapper">
                <i class="fa-regular fa-bell notifications-bell"></i>
            </div>
        </div>
    </div>

</header>
{% endblock %}

<!-- messages -->
{% if messages %}
    <div class="w3-container flat">
        {% for message in messages %}
            <div class="w3-container {{ message.level_tag | msg_w3_class }} w3-center flat">
              <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
{%  endif %}
<!-- end messages -->

{% block contents %}
    Contents goes here
{% endblock %}

{% block footer %}
    <footer class="w3-container footer">
        Footer
    </footer>
{% endblock %}
</div>

</body>
</html>
